table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th {
background: #AFCDE7;
color: #606060;
padding: 10px 20px;
}
th, td {
border-style: solid !important;
border-width: 0 1px 1px 1px !important;
border-color: #95b8e7 !important;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
